<%= form_tag(gpgkey_path, :method => :get) do %>
<fieldset><legend><%= l(:label_filter_plural) %></legend>
<label for='name'><%= l(:label_gpg_filter_name) %>:</label>
<%= text_field_tag 'name', params[:name], :size => 30 %>
<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
<%= link_to l(:button_clear), gpgkey_path, :class => 'icon icon-reload' %>
</fieldset>
<% end %>
&nbsp;

